.useru1 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.u1 {
  flex: 0.3;
  display: flex;
}

.u2 {
  flex: 0.9;
  margin-top: 110px;

  flex: 1;
  align-items: flex-start;
}
.u2 table {
  position: relative;
  width: auto;
  font-size: 15px;
  font-family: "Poppins";
}
.u2 table button {
  background-color: black;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

.u2 table button:hover {
  cursor: pointer;
}
.u2-1 {
  display: flex;
}
.u2-1 input {
  margin-left: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  padding: 10px;
}
.u2-1 button {
  width: 70px;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: black;
  color: white;
  margin-left: -10px;
  font-family: "Poppins";
}
.tablehead {
  position: relative;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
}
.u2 table th,
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1000px) {
  .u1 {
    flex: 0.4;
  }
}

.loginmain {
  position: relative;
  height: 100vh;
}

.loginmainheader {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.loginheader {
  font-size: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.loginimg {
  margin-bottom: 20px;
  border-radius: 50px;
}
.logins1 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s1 {
  /* background-color: red; */
  padding: 2px;
  flex: 1;
}
.s2 {
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.s1 img {
  width: 200px;
  height: 100%;
}
.loginmain {
  background-color: grey;
}
.s2 input {
  color: black;
  background-color: white;
  margin-bottom: 20px;
  border-width: 0px;
  border-bottom-width: 1px;
  padding: 2px;
  padding-left: 2px;
  font-size: 15px;
  height: 40px;
}
.buttondiv button {
  align-self: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: white;
  width: 100%;
  font-size: 15px;
  background-color: black;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.buttondiv {
  align-items: center;
  justify-content: center;
}

.remembersection {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: flex-flex-end;
}
.remembersection p {
  font-size: 10px;
}
.r1 {
  align-self: flex-start;
  flex: 0.5;
}
.r2 {
  display: flex;
  align-self: flex-end;
  flex: 0.5;
  position: absolute;
  right: 0;
  padding-right: 40px;
}
